<div class="mt-0 text-center align-items-center" style="max-width: 10rem;position:relative; left:85%;bottom:1rem;">
    <%if(loggedInStatus===true){%>
        <div class="text-center align-items-center" onmouseover="this.style.transform='scale(1.1)'; this.style.cursor='pointer'" onmouseout="this.style.transform='scale(1.0)'">
            <a href="/auth/profile-setting/"><img src="/img/user.png" alt="user" height="32px" width="32px"></a>
        </div>
    <%}%>
</div>
<div class="row flex-lg-row-reverse align-items-center g-5 py-2 mb-4">
    <div class="col-12 col-lg-6">
        <img src="" alt="soon to be updated">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Huge selection of delicious recipes ideas</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </p>

        <div>
            <a href="/latest-recipes" class="btn btn-primary btn-lg btn-dark px-4 me-md-2">Explore Latest</a>
            <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Random recipe</a>
        </div>
    </div>

    <!-- Categories -->
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
        <%if(categories!=''){%>
            <%categories.forEach((category)=>{%>
                <a href="#" class="cols text-center category__link">
                    <div class="card" style="width: 12rem; height: 12rem;">
                        <div class="category__img shadow">
                            <img src='/img/<%=category.image%>' alt="card" loading="lazy">
                        </div>
                        <div class="card-body">
                            <%=category.name%>
                        </div>
                    </div>
                </a>
                
            <%})%>
        <%}%>

        <a href="/categories" class="cols text-center category__link">
            <div class="category__img shadow">
                View all
            </div>             
        </a>
    </div>

    <!-- Categories-end -->

    <!-- My Recipes Section -->

    <%if(loggedInStatus===true){%>
        <section class="pb-4 pt-4">
            <div class="d-flex mb-2 align-items-center">
                <h2>My Recipes</h2>
            </div>
        
            <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 ">
                <%if(myRecipes!==null && typeof myRecipes!='undefined' && myRecipes.length>0){%>
                    <%myRecipes.forEach((recipe,index)=>{%>
                        <div class="card mx-1" style="width: 12rem; height: 12rem;">
                            <a href="/recipe/<%=recipe._id%>" class="cols text-center category__link">
                                <div class="category__img shadow">
                                    <img src='/uploads/<%=recipe.image%>' alt="<%=recipe.name%>>" loading="lazy">
                                </div>
                                <div class="card-body">
                                    <%=recipe.name%>
                                </div>
                            </a>
                            <div class="information d-flex justify-content-sm-between">
                                <div class="heart-icon-div mb-0">
                                    <i id="heart-icon" class="bi bi-heart" data-id="<%=recipe._id%>" onclick="handleLikeClick(event)"></i>
                                    <p id="heart-icon-text-<%=recipe._id%>" class="heart-icon-text" ><%=recipe.likes%></p>
                                </div>
        
                                <div>
                                    <a href="/auth/profile/<%=recipe.author%>"><p><%=recipe.publisher%></p></a>
                                </div>
                            </div>
                        </div>
        
                    <%})%>
                <%}%>
        
                <a href="/my-recipes" class="cols text-center category__link">
                    <div class="category__img shadow">
                        View more
                    </div>
                </a>
            </div>
        
        </section>
    <%}%>

    <!-- My recipes section end -->

    <!-- Latest Section -->
    <section class="pb-4 pt-4">
        <div class="d-flex mb-2 align-items-center">
            <h2>Latest Recipes</h2>
        </div>

        <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 ">
            <%if(typeof latestRecipes!='undefined' && latestRecipes.length>0){%>
                <%latestRecipes.forEach((recipe,index)=>{%>
                    <div class="card mx-1" style="width: 12rem; height: 12rem;">
                        <a href="/recipe/<%=recipe._id%>" class="cols text-center category__link">
                            <div class="category__img shadow">
                                <img src='/uploads/<%=recipe.image%>' alt="<%=recipe.name%>>" loading="lazy">
                            </div>
                            <div class="card-body">
                                <%=recipe.name%>
                            </div>
                        </a>
                        <div class="information d-flex justify-content-sm-between">
                            <div class="heart-icon-div mb-0">
                                <i id="heart-icon" class="bi bi-heart" data-id="<%=recipe._id%>" onclick="handleLikeClick(event)"></i>
                                <p id="heart-icon-text-<%=recipe._id%>" class="heart-icon-text" ><%=recipe.likes%></p>
                            </div>

                            <div>
                                <a href="/auth/profile/<%=recipe.author%>"><p><%=recipe.publisher%></p></a>
                            </div>
                        </div>
                    </div>

                <%})%>
            <%}%>

            <a href="/latest-recipes" class="cols text-center category__link">
                <div class="category__img shadow">
                    View more
                </div>
            </a>
        </div>

    </section>

    <!-- Latest Section end -->


    <!-- Popular Section -->
    <section class="pb-4 pt-4">
        <div class="d-flex mb-2 align-items-center">
            <h2>Popular Recipes</h2>
        </div>

        <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 ">
            <%if(typeof popularRecipes!='undefined' && popularRecipes.length>0){%>
                <%popularRecipes.forEach((recipe,index)=>{%>
                    <div class="card mx-1" style="width: 12rem; height: 12rem;">
                        <a href="/recipe/<%=recipe._id%>" class="cols text-center category__link">
                            <div class="category__img shadow">
                                <img src='/uploads/<%=recipe.image%>' alt="<%=recipe.name%>>" loading="lazy">
                            </div>
                            <div class="card-body">
                                <%=recipe.name%>
                            </div>
                        </a>
                        <div class="information d-flex justify-content-sm-between">
                            <div class="heart-icon-div mb-0">
                                <i id="heart-icon" class="bi bi-heart" data-id="<%=recipe._id%>" onclick="handleLikeClick(event)"></i>
                                <p id="heart-icon-text-<%=recipe._id%>" class="heart-icon-text" ><%=recipe.likes%></p>
                            </div>

                            <div>
                                <a href="/auth/profile/<%=recipe.author%>"><p><%=recipe.publisher%></p></a>
                            </div>
                        </div>
                    </div>

                <%})%>
            <%}%>

            <a href="/popular-recipes" class="cols text-center category__link">
                <div class="category__img shadow">
                    View more
                </div>
            </a>
        </div>

    </section>

    <!-- Popular Section end -->

    <!-- Submit Section -->
    <section class="px-4 py-5 my-5 text-center">
        <img src="/" class="d-block mx-auto mb-4 img-fluid" alt="Publish your recipe for free today" width="550"
            height="200" loading="lazy">
        <h1 class="display-5 fw-bold">Publish your recipe for free today</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Publish your recipe in front of thousand of people for free</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Publish Recipe</a>
            </div>
        </div>
    </section>
    <!-- Submit Section End -->
</div>