<%if(recipe!=null){%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%=recipe.name%>
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-12 col-md-4">
            <img src="/uploads/<%=recipe.image%>" class="img-fluid sticky-top" alt="" style="top: 20px"
                loading="lazy" />
        </div>

        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12">
                    <h1>
                        <%=recipe.name%>
                    </h1>
                </div>

                <div class="col-12">
                    <p>Published By: <%=recipe.publisher%></p>
                </div>

                <div class="col-12 mb-4">
                    <i class="bi bi-tag"></i>
                    <a href="/categories/<%=recipe.category%>"><%=recipe.category%></a>
                </div>

                <div class="col-12" style="white-space:normal">
                    <h4 class="my-2 py-1">Cooking Instructions</h4>
                    <p class="lead py-1 my-2" style="word-spacing: 2px;">
                        <small><%=recipe.steps%></small>
                    </p>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-12">
                    <h4>Ingredients</h4>
                    <table style="table-layout: fixed; width: 100%">
                        <th>
                            <tr>
                                <td class="text-left">Name</td>
                                <td class="text-left">Quantity</td>
                                <td class="text-left">Unit</td>
                            </tr>
                        </th>

                        <%recipe.ingredients.forEach((ingredient,index)=>{%>
                            <tr>
                                <td class="text-left lead"><small>
                                        <%=ingredient.name%>
                                    </small></td>
                                <td class="text-left lead"><small>
                                        <%=ingredient.quantity%>
                                    </small></td>
                                <td class="text-left lead"><small>
                                        <%=ingredient.unit%>
                                    </small></td>
                            </tr>
                            <%})%>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%}else{%>
        <p>No item found</p>
        <%}%>